Package: com.zaid.assistant+
Name: Assistant+
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Framework for Siri Extensions
Maintainer: Zaid Elkurdi
Author: Zaid Elkurdi
Section: Tweaks
Version: 0.0.1-355
Installed-Size: 528
