Package: com.zaid.assistantexplorer
Name: AssistantExplorer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zaid Elkurdi
Author: Zaid Elkurdi
Section: Tweaks
Version: 0.0.1-141
Installed-Size: 252
