Package: com.zaid.hellosnippet
Name: HelloSnippet
Depends: firmware (>= 8.0), com.zaid.assistant+
Architecture: iphoneos-arm
Description: Displays a custom snippet in response to "Hello"
Maintainer: Zaid Elkurdi
Author: Zaid Elkurdi
Section: Addons (AssistantPlus)
Version: 0.0.1-73
Installed-Size: 140
