<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AssistantPlusApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>assistantapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B834EF8B1AC51C8200CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B834EFA31AC51C8200CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B834EFB61AC51E4600CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B834EFD21AC51E6200CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B834EFDC1AC51E6300CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B834EFF71AC5FEEF00CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B834F00F1AC5FEEF00CF009E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B86E66E91ACE7A77007C6014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B86E67011ACE7A77007C6014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0A5D1ABF794E00D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0A681ABF794E00D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0A781ABF796100D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0A8C1ABF827600D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0AA41ABF827600D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0B4C1AC39F7200D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88C0B641AC39F7200D4D107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
