Package: com.zaid.assistant+
Name: Assistant+
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Framework for Siri Extensions
Maintainer: Zaid Elkurdi
Author: Zaid Elkurdi
Section: Tweaks
